<!doctype html>
<html>
  <link rel="stylesheet" href = "../css/style.css">
  <head>
    <title>Dragon!</title>
  </head>
  <body>
    <div class = "health-gold">
      <ul class = "health">
        <% for i in 0..@user_dragon.health do %>
        <li> <img align = "center" class = "heart" src = "http://bit.ly/1EXiIKQ"> </li>
        <% end %>
      </ul>
      <p class = "story-paragraph" style = "text-align: right">
        <%= @user_dragon.gold %>
        <img align = "right" style = "width: 3vw; margin-right: 11%;" src = "http://bit.ly/1EkWS9u">
      </p>
    </div>
    <img class = "background-dragon centered" style = "opacity: 0.15" src = "../images/background-dragon.png">
    <img class="centered img_small" style = "top: 10%;" src="../images/Title.png">
    <center><p class="centered story-paragraph" style = "top: 40%;"><b>You begin to slaughter all of the kingdom’s bravest knights. As the kingdom falls the the king begs your soldiers to betray you in return for riches. Your own soldiers betray you and aim their weapons at you. Fueled with anger you launch a fireball that disintegrates everyone human living near you. THE END
</b></p>
     </center>
    <img class="centered img_small" style = "top: 80%;" src="http://24.media.tumblr.com/5e69121c7365642014672ecdd4847f31/tumblr_myn2aoTktU1rzuv61o2_250.gif">


  </body>
</html>
