<!doctype html>
<html>
  <link rel="stylesheet" href = "../css/style.css">
  <head>
    <title>Dragon!</title>
  </head>
  <body>
    <img class = "background-dragon centered" style = "opacity: 0.15" src = "../images/background-dragon.png">
    <img class="centered img_small" style = "top: 10%;" src="../images/Title.png">
    <center><p class="centered story-paragraph" style = "top: 40%;"><b>You flop your (skin type) wings as hard as you can and smash into the side of the tower. Unfortunately the tower doesn't budge and you flop to the ground. You lose 6 health. The wizard then captures you and locks you away in his dungeon casting an entrapment spell so you can never escape. THE END
</b></p>
     </center>
    <img class="centered img_small" style = "top: 80%;" src="../images/wiazrd_tower.png">


  </body>
</html>
