<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Dragon!</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="images/favicon.png" rel="shortcut icon" type="image/png" />
  </head>

  <body>
    <h1 class = "centered" style = "top: 8%;">Welcome to Dragon!</h1>
    <p class = "version">v1.4|Presentation</p>
    <h2 class = "centered" style = "top: 22%;">You are playing as a Dragon.</h2>
    <h2 class = "centered" style = "top: 25%;">Your goal is to gain as much gold (<img align = "center" style = "width: 2.5vw;" src = "http://bit.ly/1EkWS9u">) as possible while losing the least amount of health ( <img align = "center" style = "width: 1.5vw;" src = "http://bit.ly/1EXiIKQ"> )!</h2>
    <img class = "background-dragon centered" src="images/background-dragon.png">
    <form method = "POST" action = "create_character">
      <input class = "centered" style = "top: 82%;" type = "submit" value = "Begin your Journey!">
    </form>
  </body>
</html>