html
{
  background-color: rgb(230, 230, 230);
  font-family: sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6
{
  text-align: center;
  white-space: nowrap;
}

h1
{
  font-size: 4.2vw;
}

h2
{
  font-size: 1.2vw;
}

.centered
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.horizontally-centered
{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

img
{
  position: relative;
  width: 41vw;
  height: auto;
}

.background-dragon
{
  top: 52%;
  opacity: 0.9;
}

input
{
  font-size: 2.58461538vw;
  padding: 0.8em;
  background-color: rgb(200, 200, 200);
  border-radius: 1em;
  transition: box-shadow 0.5s ease;
}

input:focus
{
  outline: 0;
}

input[type="submit"]:hover
{
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
}

input[type="text"]
{
  background-color: white;
}

select
{
  padding: 1em;
  font-size: 1vw;
  cursor: pointer;
}

.side-by-side
{
  display: inline-block;
}

.side-by-side select
{
  display: inline;
}