<!doctype html>
<html>
  <link rel="stylesheet" href = "css/style1.css">
  <head>
    <title>Dragon!</title>
  </head>
  <body>
    <img class = "background-dragon centered" style = "opacity: 0.15" src = "images/background-dragon.png">
    <img class="centered img_small" style = "top: 10%;" src="images/Dragon_Cave.png">
    <center><p class="centered" style = "top: 40%;"><b>You fly to the nearby kingdom and snatch the princess from her tower. The kingdom pays 500 gold! What do you want to do next? 

      <br><br>Option #1:  I make myself ruler of a kingdom   
      
      <br><br>Option #2: I look for more lands to conquer   </b></p>
     </center>
    <img class="centered img_small" style = "top: 80%;" src="images/knight.png">
   <form method = "POST" action = "page11">
     <input class = "centered" type="submit" style = "top: 80%; left: 30%;" value="Option #1">
    </form>
    <form method = "POST" action = "page10">
      <input class = "centered" type="submit" style = "top: 80%; left: 70%;" value="Option #2">
    </form>

  </body>
</html>
